@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.white{
	color:white;
}
.clearfix {
  *zoom: 1;
/*9219 ab*/
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
*{
	margin:0;
	padding: 0;
}
/*nav*/
.navbar {
	border-radius:0px;
	margin-bottom: 0px;

}
.navbar-default {
	background-color: #34495E;
	border: none;
	border-radius: 0px;
    padding: 1.5%;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	margin-left: 5px;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #2C3E50;
	color: #fff;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.navbar-default .navbar-nav>li>a:focus {
	background-color: #2C3E50;
	color: #fff;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
/*banner slider*/
.carousel-caption {
 	left: 8%;
 	bottom: 40%
   }
   .carousel-caption h1,
   .carousel-caption .lead {
     margin: 0;
     line-height: 1.25;
     color: #fff;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
     text-align: left;
   }
   .carousel-caption .lead {
   	font-size: 15px;
   }
   .carousel-caption .btn {
     margin-top: 10px;
     background: #31213d;
     border-radius: 1px;
   }


/*footer*/
footer{
	background: #34495E;
	padding:3%;
}
.foot div {
	color:#6F7E8B;
}
.foot h3 {
	color:white;
}
.foot a{
	color:#6F7E8B;
	text-decoration: none;
}
.go {
	background:#D8524E;
	color:white;
}
.icon-angle-right{
	padding-right: 2%;
}
/*footer2*/
.foot-2{
	background: #2C3E50;
	padding: 2%;
	color:white;
}
.foot-2 a{
	color:white;
}
.list-nav li{
	display: inline-block;
	padding-right:2%;
	padding-left: 3%;
}
.navfot{
 padding-left: 10%;
}
