@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.white{
	color:white;
}
.clearfix {
  *zoom: 1;
/*9219 ab*/
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
*{
	margin:0;
	padding: 0;
}
/*nav*/
.navbar {
	border-radius:0px;
	margin-bottom: 0px;

}
.navbar-default {
	background-color: #34495E;
	border: none;
	border-radius: 0px;
    padding: 1.5%;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	margin-left: 5px;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #2C3E50;
	color: #fff;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.navbar-default .navbar-nav>li>a:focus {
	background-color: #2C3E50;
	color: #fff;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
/*banner slider*/
.carousel-caption {
 	left: 8%;
 	bottom: 40%
   }
   .carousel-caption h1,
   .carousel-caption .lead {
     margin: 0;
     line-height: 1.25;
     color: #fff;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
     text-align: left;
   }
   .carousel-caption .lead {
   	font-size: 15px;
   }
   .carousel-caption .btn {
     margin-top: 10px;
     background: #31213d;
     border-radius: 1px;
   }

/*banner verde*/
.banner-bottom{
  background-color: #2ECC71;
  height: 250px;
  color: #ffffff;
}
.fila{
	margin-top: 3%;
}
.circle{
  background-color: #1C7A44;
  font-size:30px;
  padding:7px 5px 5px 15px;
  border-radius:50px;
  width: 55px;
  float: left;
  margin-bottom: 80px;
  position:relative;
  top:22px;
  right: 18px;
}
.social{
  padding-left: 6px;
}
.cage p{
	font-size: 16px;
}
.project{
	background: #F5F5F5;
	position: relative;
}
.nova{
	height: 200px;
	width:200px;
}
.cajas{
	border:1px solid grey;
	margin:auto;
	position: relative;
	background: white;
	width:240px;
	height: 280px;
	padding:10px;
	text-align: center;
    float:right;
    margin-right: 35px;

}
.cajas h4{
  color:grey;
 padding-top: 3%;
}
.fotos{
	padding-top: 5%;
	padding-bottom: 5%;
}
.clients{
	background: #E74C3C;
	padding: 5%;
}
.boton{
	background: yellow;
}
.cajas a{
	text-decoration: none;
	color:grey;
}

/*clients*/
.clients{
	color:white;
}
.titulos{
	margin-top: 30px;
}
.titulos h4{
	margin-left: 20px;
	font-size: 16px;
}
.titulos p{
	font-size: small;
	margin-left: 20px;
}
.listas{
	border-left:5px solid white;
	border-left-height:150px;
}
/*footer*/
footer{
	background: #34495E;
	padding:3%;
}
.foot div {
	color:#6F7E8B;
}
.foot h3 {
	color:white;
}
.foot a{
	color:#6F7E8B;
	text-decoration: none;
}
.go {
	background:#D8524E;
	color:white;
}
.icon-angle-right{
	padding-right: 2%;
}
/*footer2*/
.foot-2{
	background: #2C3E50;
	padding: 2%;
	color:white;
}
.foot-2 a{
	color:white;
}
.list-nav li{
	display: inline-block;
	padding-right:2%;
	padding-left: 3%;
}
.navfot{
 padding-left: 10%;
}

