@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
.white{
	color:white;
}
.clearfix {
  *zoom: 1;
/*9219 ab*/
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
*{
	margin:0;
	padding: 0;
}
/*nav*/
.navbar {
	border-radius:0px;
	margin-bottom: 0px;

}
.navbar-default {
	background-color: #34495E;
	border: none;
	border-radius: 0px;
    padding: 1.5%;
}
.navbar-default .navbar-nav>li>a {
	color: #fff;
	margin-left: 5px;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: #2C3E50;
	color: #fff;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
.navbar-default .navbar-nav>li>a:focus {
	background-color: #2C3E50;
	color: #fff;
	border-radius: 5px;
	padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;
}
/*banner slider*/
.carousel-caption {
 	left: 8%;
 	bottom: 40%
   }
   .carousel-caption h1,
   .carousel-caption .lead {
     margin: 0;
     line-height: 1.25;
     color: #fff;
     text-shadow: 0 1px 1px rgba(0,0,0,.4);
     text-align: left;
   }
   .carousel-caption .lead {
   	font-size: 15px;
   }
   .carousel-caption .btn {
     margin-top: 10px;
     background: #31213d;
     border-radius: 1px;
   }


/*footer*/
footer{
	background: #34495E;
	padding:3%;
}
.foot div {
	color:#6F7E8B;
}
.foot h3 {
	color:white;
}
.foot a{
	color:#6F7E8B;
	text-decoration: none;
}
.go {
	background:#D8524E;
	color:white;
}
.icon-angle-right{
	padding-right: 2%;
}
/*footer2*/
.foot-2{
	background: #2C3E50;
	padding: 2%;
	color:white;
}
.foot-2 a{
	color:white;
}
.list-nav li{
	display: inline-block;
	padding-right:2%;
	padding-left: 3%;
}
.navfot{
 padding-left: 10%;
<<<<<<< HEAD
}
/*PORTAFOLIO*/
.portafolio{
	background-color: #f4f4f4;
	padding: 40px 0 40px 0;
}
.porta{
	text-align: center;
	padding:20px;
}
.porta ul li{
	list-style: none;
	text-decoration: none;
	background: #FFFFFF;
	margin-bottom: 20px;
}
.porta img{
	padding-top: 10px;
	height: 220px;
}
.porta h4{
	color:#2D323A;
	margin-bottom: 0;
	padding-left: 18px;
	text-align: left;
}
.content-intro{
	background-color: #2ECC71;
	color: #fff;
	padding: 40px 0;
}
.breadcrumb{
	background: transparent;
	padding-top: 50px;
}
.breadcrumb a{
	color: #FFFFFF;
}
.breadcrumb a:hover{
	color: #D8D8D8;
	text-decoration: none;
}
.breadcrumb > .active {
color: #D8D8D8
}

/*SERVICES*/
.fondo{background-color: #F5F5F5}
.icon-rs {
  font-size: 36px;
  height: 68px;
  width: 68px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  text-align: center;
  display: block;
  border-radius: 50%;
  margin-right: 10px;
  line-height: 68px;
  margin-bottom: 63%;
  -webkit-transition: 500ms;
  transition: 500ms;

}
#services .media:hover .icon-rs {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
.icon-md {
  font-size: 36px;
  height: 68px;
  width: 68px;
  line-height: 68px;
  color: #fff;
  margin-right: 10px;
  background-color:#939393;
  text-align: center;
  display: block;
  border-radius: 50%;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.blog .blog-item {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.blog .blog-item .img-blog {
  width: 100%;
  border-radius: 5px 5px 0 0
}
.blog .blog-item .blog-content {padding: 20px;}

.blog .blog-item .entry-meta {margin-bottom: 20px;}

.blog .blog-item .entry-meta > span {
  display: inline-block;
  color: #999;
  margin-right: 10px;
  font-size: 12px;
}

.blog .blog-item .entry-meta > span a {color: #999;}

.blog .blog-item h3 {
  margin-top: 0;
  color: black;
}
ul.pagination > li.active > a, ul.pagination > li:hover > a {
  background-color: #34495e;
  color: #fff;
}

.arrow >  li a{color: black;}